build/
include/imgui/
include/implot/
include/nifti_clib/
lib/
test-data/
.vscode/
python-validations/
compile_commands.json
imgui.ini

quicknii

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
